<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="mb-3 col-lg-6">
  <div class="mb-3">
    <label for="title" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="title"
    />
    <div
      *ngIf="!p.title.valid && p.title.touched"
      class="alert alert-danger my-2 p-1"
    >
      Debe ingresar un nombre válido.
    </div>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Precio</label>
    <input
      type="number"
      class="form-control"
      id="price"
      formControlName="price"
    />
    <div
      *ngIf="!p.price.valid && p.price.touched"
      class="alert alert-danger my-2 p-1"
    >
      El precio es obligatorio.
    </div>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Descripción</label>
    <input
      type="text"
      class="form-control"
      id="description"
      formControlName="description"
    />
  </div>
  <div class="mb-3">
    <label for="thumbnail" class="form-label">URL imagen</label>
    <input
      type="text"
      class="form-control"
      id="thumbnail"
      formControlName="thumbnail"
    />
    <div
      *ngIf="!p.thumbnail.valid && p.thumbnail.touched"
      class="alert alert-danger my-2 p-1"
    >
      Debe ingresar una URL válida.
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">
    Enviar
  </button>
</form>
