<div class="card my-2" style="width: 18rem">
  <img
    src="{{ getImageUrl() }}"
    class="card-img-top p-2"
    alt="{{ product.title }}"
    width="220"
    height="330"
    loading="lazy"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">
      {{ product.year }}
    </p>
    <p class="text-end" style="font-size: 1.4em">
      <span class="badge rounded-pill bg-dark">$ {{ product.price }}</span>
    </p>
    <div class="d-grid gap-2">
      <button class="btn btn-secondary">Agregar</button>
    </div>
  </div>
</div>
